@charset "utf-8";



.cs_sub_left .div_scroll {
	width: 100%;
	height: 750px;
	overflow: auto;
	overflow-x: hidden;
}			

.cs_sub_left .scroll_container {
    overflow: hidden;
    position: relative;
}

.cs_sub_left .scroll_absolute {
    position: absolute;
}

.cs_sub_left .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5px;
    height: 100%;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
}

.cs_sub_left .scroll_horizontal_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
	display:none;
}

.cs_sub_left .scroll_cap {
    display: none;
}

.cs_sub_left .scroll_horizontal_bar .scroll_cap {
    float: left;
}

.cs_sub_left .scroll_horizontal_bar .scroll_track, .scroll_horizontal_bar .scroll_drag {
    float: left;
    height: 100%;
}

.cs_sub_left .scroll_arrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.cs_sub_left .scroll_vertical_bar .scroll_track {
	position: relative;
	background-color: #dfdfdf;
}

.cs_sub_left .scroll_horizontal_bar .scroll_track {
	position: relative;
	background-color: #DFA315;
}

.cs_sub_left .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #6ab0bc;
}

.cs_sub_left .scroll_horizontal_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #5F6392;
}

.cs_sub_left .scroll_vertical_bar .scroll_arrow {
	height: 16px;
	background-color: #5807C5;
}

.cs_sub_left .scroll_horizontal_bar .scroll_arrow {
	width: 16px;
	float: left;
	height: 100%;
	background-color: #B50CCD;
}

.cs_sub_left .scroll_corner {
	float: left;
	height: 100%;
	background-color: #0474EE;
}










.cs_sub_tRight .div_scroll {
	width: 100%;
	height: 530px;
	overflow: auto;
	overflow-x: hidden;
}			

.cs_sub_tRight .scroll_container {
    overflow: hidden;
    position: relative;
}

.cs_sub_tRight .scroll_absolute {
    position: absolute;
}

.cs_sub_tRight .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5px;
    height: 100%;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
}

.cs_sub_tRight .scroll_horizontal_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
	display:none;
}

.cs_sub_tRight .scroll_cap {
    display: none;
}

.cs_sub_tRight .scroll_horizontal_bar .scroll_cap {
    float: left;
}

.cs_sub_tRight .scroll_horizontal_bar .scroll_track, .scroll_horizontal_bar .scroll_drag {
    float: left;
    height: 100%;
}

.cs_sub_tRight .scroll_arrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.cs_sub_tRight .scroll_vertical_bar .scroll_track {
	position: relative;
	background-color: #dfdfdf;
}

.cs_sub_tRight .scroll_horizontal_bar .scroll_track {
	position: relative;
	background-color: #DFA315;
}

.cs_sub_tRight .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #6ab0bc;
}

.cs_sub_tRight .scroll_horizontal_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #5F6392;
}

.cs_sub_tRight .scroll_vertical_bar .scroll_arrow {
	height: 16px;
	background-color: #5807C5;
}

.cs_sub_tRight .scroll_horizontal_bar .scroll_arrow {
	width: 16px;
	float: left;
	height: 100%;
	background-color: #B50CCD;
}

.cs_sub_tRight .scroll_corner {
	float: left;
	height: 100%;
	background-color: #0474EE;
}

.cs_parametersCont .div_scroll {
	width: 100%;
	height: 188px;
	overflow: auto;
	overflow-x: hidden;
}			

.cs_parametersCont .scroll_container {
    overflow: hidden;
    position: relative;
}

.cs_parametersCont .scroll_absolute {
    position: absolute;
}

.cs_parametersCont .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 8px;
    width: 5px;
    height: 100%;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
}

.cs_parametersCont .scroll_horizontal_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
	display:none;
}

.cs_parametersCont .scroll_cap {
    display: none;
}

.cs_parametersCont .scroll_horizontal_bar .scroll_cap {
    float: left;
}

.cs_parametersCont .scroll_horizontal_bar .scroll_track, .scroll_horizontal_bar .scroll_drag {
    float: left;
    height: 100%;
}

.cs_parametersCont .scroll_arrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.cs_parametersCont .scroll_vertical_bar .scroll_track {
	position: relative;
	background-color: #dfdfdf;
}

.cs_parametersCont .scroll_horizontal_bar .scroll_track {
	position: relative;
	background-color: #DFA315;
}

.cs_parametersCont .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #6ab0bc;
}

.cs_parametersCont .scroll_horizontal_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #5F6392;
}

.cs_parametersCont .scroll_vertical_bar .scroll_arrow {
	height: 16px;
	background-color: #5807C5;
}

.cs_parametersCont .scroll_horizontal_bar .scroll_arrow {
	width: 16px;
	float: left;
	height: 100%;
	background-color: #B50CCD;
}

.cs_parametersCont .scroll_corner {
	float: left;
	height: 100%;
	background-color: #0474EE;
}







.cs_snapList .div_scroll {
	width: 100%;
	height: 690px;
	overflow: auto;
	overflow-x: hidden;
}			

.cs_snapList .scroll_container {
    overflow: hidden;
    position: relative;
}

.cs_snapList .scroll_absolute {
    position: absolute;
}

.cs_snapList .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5px;
    height: 100%;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
}

.cs_snapList .scroll_horizontal_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
	display:none;
}

.cs_snapList .scroll_cap {
    display: none;
}

.cs_snapList .scroll_horizontal_bar .scroll_cap {
    float: left;
}

.cs_snapList .scroll_horizontal_bar .scroll_track, .scroll_horizontal_bar .scroll_drag {
    float: left;
    height: 100%;
}

.cs_snapList .scroll_arrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.cs_snapList .scroll_vertical_bar .scroll_track {
	position: relative;
	background-color: #dfdfdf;
}

.cs_snapList .scroll_horizontal_bar .scroll_track {
	position: relative;
	background-color: #DFA315;
}

.cs_snapList .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #6ab0bc;
}

.cs_snapList .scroll_horizontal_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #5F6392;
}

.cs_snapList .scroll_vertical_bar .scroll_arrow {
	height: 16px;
	background-color: #5807C5;
}

.cs_snapList .scroll_horizontal_bar .scroll_arrow {
	width: 16px;
	float: left;
	height: 100%;
	background-color: #B50CCD;
}

.cs_snapList .scroll_corner {
	float: left;
	height: 100%;
	background-color: #0474EE;
}
